/* -----------------------------------------
   Blog
----------------------------------------- */

article:last-of-type hr {
	display: none;
}

.content, aside {
	a:hover {
		text-decoration: underline;
	}
}