/* -----------------------------------------
   Comments
----------------------------------------- */

#respond {
	small {
		font-size: 12px;
	}
}

#respond i, .comment-edit-link {
   opacity: .5;

}

#respond i, .comment-edit-link {
	&:hover {
		opacity: 1;
	}
}