/* -----------------------------------------
   Header
----------------------------------------- */

#top-bar {
	margin: 0;
    li {
	opacity: .5;
	}
    li:hover {
	opacity: 1;
	}
}

#main-header {
	line-height: .5;
	&.with-image {
		  position: relative;
		  hgroup {
		  position: absolute;
		  top: 0;
		  left: 20px;
		  }
}

}

#site-title a {
	font-size: 32px;
}

#site-title a:hover {
	text-decoration: underline;
}


#site-description {
	font-size: 12px;
}

ul#header-nav.nav-bar {
		margin-top: 0;
		background: #222;
		a {
		color: white !important;
		}
}