/* -----------------------------------------
   Sidebar
----------------------------------------- */

.side-nav {
	font-weight: bold;
	ul, li {
		margin: 0;
		padding: 0;
	}
}

.pagenav {
	margin-bottom: 20px;
}